body{
    background-color:rgb(170, 228, 152);
}

#javascropt {

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 6vw;
    font-family: Impact;
    text-decoration: underline;
}

#buton { 
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Impact;
    font-size: 6vw;
    border-radius: 1rem;
}
buton {
    font-size: 6vw;

}